on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
        default: "ubuntu-latest"

jobs:
  pr-js-yarn:
    runs-on: ${{ inputs.os }}
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: "yarn"
      - run: yarn install --network-timeout 1000000 --frozen-lockfile
      - run: yarn check
      - run: yarn format
      - run: yarn test-ci
      - run: yarn build
      - uses: EndBug/add-and-commit@v8
        with:
          message: "CI / CD - Format Updates Automatic Commit"
        continue-on-error: true
