name: PR JS Yarn v2 (Node 16)

on:
  workflow_call:
    inputs:
      os:
        required: false
        type: string
        default: "ubuntu-latest"

jobs:
  pr-js-yarn:
    uses: ./.github/workflows/pr-js-yarn.yml
    with:
      os: ${{ inputs.os }}
      node-version: "16"
